.HOC{
  display: flex;
  justify-content: space-evenly;
}
.PURE{
  text-align: center;
}
button{
  border-radius: 10px;
  border: none;
  background-color: rgb(236, 115, 82);
  padding: 6px;
}
button:hover{
  color: white;
  
}

body{
  background-color: antiquewhite;
}
.pure button{
  width: 200px;
}

hr{
  margin-top: 40px;
}